@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
  --color: #230C35;
  --color-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

}

::selection {
  color: #764ba2;
  background-color: #e2d7ec;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  transition: all .2s linear;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* width: fit-content; */
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}


/* Loading */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: relative;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.7s ease-in-out;
}

.loader2 {
  clip-path: circle(0% at 100% 100%);
}






/* Header */

header {
  width: 96%;
  background: #fff;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  transition: .2s;
}

header .logo img {
  width: 50px;
  margin-top: 10px;
  /* color:  linear-gradient(135deg, #37434c 0%, #1f0d2c 100%);*/
}



.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

/* header .navbar {
  margin: auto;
  
} */

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: #000;
  transition: .2s;

}


header .navbar ul li a:hover {
  background: linear-gradient(135deg, #667eea 0%, #802dd3 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: .2s;
}

header .fa-bars {
  display: none;
}


/* Header ends */

.heading {
  text-align: center;
  /* padding-bottom: 3rem; */
  font-size: 5.5rem;
  color: var(--black);
  margin-top: 70px;
}

.education-heading {
  margin-top: 130px;
}



button {
  height: 4rem;
  width: 18rem;
  background: #fff;
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
  border-radius: 20px;
}

button:hover {
  /* background-color: #c1c1c44b; */
  background-color: rgba(233, 233, 233, 0.555);

}




span {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


/* Home */

.home {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(10, 10, 10, 0.979), var(--color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
}

/* Scroll-effect */






/* Scroll-effect-ends */



.home .banner {
  color: #fff;
  font-size: 5rem;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home .slogan {
  color: #eee;
  font-size: 2.5rem;
  font-weight: 400;
}



.home .wave {
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: 11rem;
  width: 100%;
  background: url(/Img/wave.png);
  background-size: 100rem 11rem;
  background-repeat: repeat-x;
  animation: waves 10s linear infinite;
}

.home .wave2 {
  animation-direction: reverse;
  opacity: .2;
}

.home .wave3 {
  animation-duration: 7.5s;
  opacity: .5;
}

@keyframes waves {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 100rem;
  }
}

.home img {
  position: absolute;
  background-size: 1px;
  opacity: .700;
  /* color:#fff; */
  /* animation: rotate 10s linear infinite; */
}



.home .nut1 {
  top: 20%;
  left: -50px;
  width: 30%;

}

.home .nut2 {
  bottom: 30%;
  right: 200px;
  width: 30%;
}

/* About Section */



.about .information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;

}

.about .about-content {
  width: 50%;
}

.about .about-content h1 {
  font-size: 3.5rem;
  text-align: center;
}

.about .about-content p {
  font-size: 1.7rem;
  font-weight: 500;
  padding-top: 10px;
  /* text-align: center; */
}

.about .information .image img {
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
  width: 73%;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
  border-radius: 50%;
  text-align: center;
}

.about .information .languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0px 5px 0px;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
  border-radius: 10px;
  width: 185px;
  margin-top: 10px;
  /* float: right; */
}

.about .information .languages:hover {
  cursor: pointer;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}


.about .information .languages img {
  width: 15%;
  margin-right: 10px;
}





.first-link {
  font-weight: 600;
}

.all-background {
  background-image: linear-gradient(to top, #e3dbe7e1 0%, #fff 100%);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}


/* Eductaion Section  */

.education-section {
  margin-bottom: 70px;
}
 
.swiper {
  width: 900px;
  height: 450px;
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 10px;
  margin-top: 90px;
}

.swiper-slide {
  /* text-align: center; */
  margin-top: 50px;
  height: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
  
  
}

.first-slider {
  /* background-color: #272731; */
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

/* First Slider */

.content-first-slide {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* margin-top: 30px; */
  
}

.content-first-slide h1 {
  font-size: 2rem;
}

.content-first-slide p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 5px;
}

.image-slider {
  margin-top: -41px;
  width: 88%;
}

.image-slider img {
  width: 78% !important;
}

/* Ends First Slider */



.swiper-slide img {
  width: 33%;
  border-radius: 10px;
  /* box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3); */
    height: 78%;
    margin-left: 50px;
    text-align: center;
    margin-top: 5px
}

.swiper-slide img:hover{
  transition: .4s linear;
  transform: scale(1.1);
  z-index: 2;
  /* box-shadow: 0px 0px 1px #000; */
}

.swiper-button-prev:after{
  color:rgb(105, 118, 223);
}

.swiper-button-next:after{
  color:rgb(105, 118, 223);
}


/* Second Slider  */

.content-second-slide {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* margin-top: 30px; */
  
}

.content-second-slide h1 {
  font-size: 2rem;
}

.content-second-slide p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 5px;
}

.image-slider {
  margin-top: -41px;
  width: 88%;
}

.image-slider img {
  width: 78% !important;
}

/* Ends Second Slider */


/* Third Slider */

.content-third-slide {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* margin-top: 30px; */
  
}

.content-third-slide h1 {
  font-size: 2rem;
}

.content-third-slide p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 5px;
}

.image-slider {
  margin-top: -41px;
  width: 88%;
}

.image-slider img {
  width: 78% !important;
}

/* Ends Third Slider */



/* Fourth Slider */

.content-fourth-slide {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* margin-top: 30px; */
  
}

.content-fourth-slide h1 {
  font-size: 2rem;
}

.content-fourth-slide p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 5px;
}

.image-slider {
  margin-top: -41px;
  width: 88%;
}

.image-slider img {
  width: 78% !important;
}

/* Ends Fourth Slider */


/* Fifth Slider  */

.content-fifth-slide {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* margin-top: 30px; */
  
}

.content-fifth-slide h1 {
  font-size: 2rem;
}

.content-fifth-slide p {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 5px;
}

.image-slider {
  margin-top: -41px;
  width: 88%;
}

.image-slider img {
  width: 78% !important;
}

/* Ends Fifth Slider */


/* Proyects-sections */

.features .box-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width:1490px) {

  .features .box-container {
    flex-wrap: wrap;
  }
}

.features .heading {
  margin-bottom: 60px;
}

.features .box-container .box {
  flex: 1 1 30rem;
  background: #fff;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  margin: 1.5rem;
  padding: 2rem 2rem;
  border-radius: 10px;
  text-align: center;
  transition: .2s linear;
  min-height: 450px;
}

.features .box-container .box:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  transition: 0.6s;

}

.features .box-container .kitty {
  background: url(/Img/good-wave.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.features .box-container .kitty h3 {
  font-size: 1.9rem;
}

.features .box-container .kitty button {
  margin-top: -8px;
}

.features .box-container .multi {
  background: url(/Img/good-wave2.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.features .box-container .multi h3 {
  font-size: 1.9rem;
}

.features .box-container .betting {
  background: url(/Img/good-wave3.svg) no-repeat;
  background-position: center;
  background-size: cover;
}

.features .box-container .betting h3 {
  font-size: 1.7rem;
}

.features .box-container .betting button {
  margin-top: 40px;
}

.features .box-container .box img {
  max-width: 200px;
  min-width: 180px;
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}



@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-17px);
  }

  100% {
    transform: translateY(0px);
  }
}


.features .box-container .box h3 {
  /* font-size: 2rem; */
  color: #333;
  padding-top: 1rem;
}

.features .box-container .box p {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
  font-weight: 500;
}



/* Scroll-Top-button */


.scroll-btn .fa-sort-up {
  width: 60px;
  height: 60px;
  font-size: 50px;
  padding: 15px;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .6);
  background: linear-gradient(135deg, #667eea 0%, #802dd3 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  right: 1%;
  position: fixed;
  display: none;
  cursor: pointer;
}




/* Skillset JS */

.all-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}


.card-skill {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  background: #802dd3;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 rgba(223, 223, 223, 0.486),
    inset 0 -15px 0 rgba(255, 255, 255, 0.25);
  /* 0 45px 0 rgba(0, 0, 0, 0.15); */

  display: flex;
  justify-content: center;
  align-items: flex-start;


}

.card-skill:hover {
  box-shadow: 0 15px 0 rgba(223, 223, 223, 0.486),
    inset 0 -15px 0 rgba(160, 160, 160, 0.25);

}

.card-skill:before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(231, 231, 231, 0.034));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.card-skill:nth-child(1) {
  background: linear-gradient(to bottom, #1F0D2D, #645bf6);
}

.card-skill:nth-child(2) {
  background: linear-gradient(to bottom, #49367e, #c7c1ca);
}

.card-skill:nth-child(3) {
  background: linear-gradient(to bottom, #6D6ACE, #EAE4ED);
}

.bubble-skill {
  position: relative;
  width: 140px;
  height: 120px;
  background: #fff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgb(0, 0, 0, 0.1),
    inset 0 -8px 0 #fff,
    0 28px 0 rgba(0, 0, 0, 0.15);
  z-index: 940;
  display: flex;
  justify-content: center;
}

.bubble-skill:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #ffffff;
}

.bubble-skill:after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #ffffff;
}

.content-card-skill {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140;
  text-align: center;
  left: 0%;
  bottom: 0px;
}

.content-card-skill h2 {
  font-size: 2.5rem;
}

.content-card-skill p {
  font-size: 1.3rem;

  font-weight: 500;
}

.content-card-skill .image-skill img {
  width: 47%;
}

.content-card-skill .image-skill img:hover {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

.content-card-skill .development-img img {
  width: 83%;
}

.content-card-skill .development-img img:hover {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

.content-card-skill .blockchain-img img {
  width: 92%;
}

.content-card-skill .blockchain-img img:hover {
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}


.menu {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: -50px;

}



.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 165px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(70px);
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li .content-buble {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #fcfcfc 100%);
  width: 35%;
  height: 30%;
  align-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 60%;
  transform: rotate(calc(360deg / -8 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.20);
  color: #111;
  transition: 0.5s;
  text-align: center;
  max-width: 200px;
}

.menu li .content-buble:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.30);
}



.menu li .content-buble .info p {
  font-size: 1.2rem;
  font-weight: 500;
}

.hidding {
  opacity: 0;
}


.menu .imageee img {
  width: 80%;
}

.menu .meta-image {
  height: 47px;
}

.menu .meta-image img {
  width: 100%;
}

.menu .ganache-image img {
  width: 100%;
}

.menu .hardh-image img {
  width: 70%;
}


.toggle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
  font-size: 2em;
  transition: transform 1.25s;
  background-image: linear-gradient(135deg, #30205D 0%, #6F68D5 100%);
}

.menu .toggle-development {
  background-image: linear-gradient(135deg, #574686 0%, #ACA3BA 100%);
}

.menu .toggle-development .fa-file-code {
  font-size: 3.5rem;
}

.menu .toggle-blockchain {
  background-image: linear-gradient(135deg, #7C78D0 0%, #C4BEE3 100%);
}

.menu .toggle-blockchain .fa-th {
  font-size: 3rem;
}

.menu.active .toggle {
  transform: rotate(315deg);
}

.toggle .fa-ethereum {
  font-size: 40px;
}








/* Contact */



.contact-form .container {
  margin: auto;
}


.container {
  margin: auto;
  z-index: 12;
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

.content .image-box {
  max-width: 55%;
}

.content .image-box img {
  width: 100%;
  border-radius: 10px;
}

.content .topic {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}

.content form {
  width: 40%;
  margin-right: 30px;
}

.content .input-box {
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}

.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.content .input-box input:focus,
.content .input-box input:valid {
  border-color: #764ba2;
  background-color: #fff;
}

.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.content .input-box input:focus~label,
.content .input-box input:valid~label {
  top: 0;
  left: 12px;
  display: 14px;
  color: #000;
  background: #fff;

}

.content .input-box input:focus~[type="email"] {
  top: 0;
  left: 12px;
  display: 14px;
}

.content .message-box {
  margin-top: 29px;
  min-height: 100px;
  position: relative;
}

.content .message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}

.content .message-box textarea:focus {
  border-color: #764ba2;
  background-color: #fff;
}

.content .message-box label {
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.content .message-box textarea:focus~label {
  left: 12px;
  top: -19px;
  color: #764ba2;
  font-size: 14px;
  background: #fff;
}

.content .input-box input[type="submit"] {
  color: #000;
  background: rgba(255, 255, 255, 0.959);
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content .input-box input[type="submit"]:hover {
  background-color: #c1c1c44b;
}


/* Footer */

footer {
  margin-top: 100px;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  background: linear-gradient(rgba(36, 36, 36, 0.979), var(--color));
  color: #fff;
  padding: 40px 0 30px;
  border-top-left-radius: 50px;
  font-size: 13px;
  line-height: 20px;
}

footer .row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer .row .col {
  flex-basis: 25%;
  padding: 10px;
}

/* footer .row .col:nth-child(2),.col:nth-child(3) {
  flex-basis: 15%;
} */

footer .row .col .logo {
  width: 80px;
  margin-bottom: 30px;
}


.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}


footer .row .col ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer .row .col ul li a {
  text-decoration: none;
  color: #fff;
}

footer .row .col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

footer .row .col form .fas {
  font-size: 18px;
  margin-right: 10px;
}

footer .row .col form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

footer .row .col form .button {
  width: 4rem;
  height: 3rem;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
}

footer .row .col .social-media .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin-right: 15px;
  cursor: pointer;
}

footer .row .col .social-media .fa-instagram:hover {
  background-color: #c32aa3;
}

footer .row .col .social-media .fa-twitter:hover {
  background-color: #1DA1F2;
}

footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
}

footer .row .col .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

footer .row .col .underline .animation {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}


























































/* Media queries  */

@media(max-width:1600px) {
  .education-section .content-text .contentt .date {
    width: 18%;
  }

  .education-section .content-text .contentt .date:hover {
    width: 18%;
  }

  .education-section .content-text .contentt .large-date {
    width: 20%;
  }

  .education-section .content-text .contentt .large-date:hover {
    width: 20%;
  }


}



@media(max-width:1370px) {
  .education-section .content-text .contentt .date {
    width: 20%;
  }

  .education-section .content-text .contentt .date:hover {
    width: 20%;
  }

  .education-section .content-text .contentt .large-date {
    width: 23%;
  }

  .education-section .content-text .contentt .large-date:hover {
    width: 23%;
  }

  footer .row .col .social-media {
    width: 176%;
  }

  footer .row .col form {
    width: 176px;
  }

  .home .nut1 {
    top: 24%;
    left: -95px;
    width: 30%;

  }

  .home .nut2 {
    bottom: 32%;
    right: 90px;
    width: 30%;
  }
}

@media(max-width:1160px) {
  .education-section .content-text .contentt .date {
    width: 23%;
  }

  .education-section .content-text .contentt .date:hover {
    width: 23%;
  }

  .education-section .content-text .contentt .large-date {
    width: 27%;
  }

  .education-section .content-text .contentt .large-date:hover {
    width: 27%;
  }
}

@media (max-width:1000px) {
  .content .image-box {
    max-width: 70%;
  }

  .content {
    padding: 10px 0;
  }

  .about .box-container {
    width: 100%;
  }

  .education-section .content-text .contentt .date {
    width: 25%;
  }

  .education-section .content-text .contentt .date:hover {
    width: 25%;
  }

  .education-section .content-text .contentt .large-date {
    width: 30%;
  }

  .education-section .content-text .contentt .large-date:hover {
    width: 30%;
  }

  .proyects-sections .box-container .card3 {
    background: url(./Img/good-wave3.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4.9rem 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .6);
    transition: .2s;

  }

  .proyects-sections .box-container .single-container .box-proyect .card3 h3 {
    font-size: 1.6rem;
  }

  .proyects-sections .box-container .card2 {
    background: url(./Img/good-wave2.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem 9.8rem 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .6);
    transition: .2s;
  }

  .proyects-sections .box-container .card2 h3 {
    font-size: 2rem;
  }

  .proyects-sections .box-container .card1 {
    background: url(./Img/good-wave.svg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem 8.5rem 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .6);
    transition: .2s;
  }

  .proyects-sections .box-container .single-container .box-proyect .card1 h3 {
    font-size: 1.9rem;
  }
}

@media (max-width:1000px) {
  .content .image-box {
    max-width: 51%;
  }
  .swiper-slide {
    flex-wrap: wrap;
  }

  .swiper {
    width: 490px;
    height: auto;
  }

  .swiper-slide img {
      margin-left:10px;
      text-align: center;
      margin-top: 15px;
      width: 50%;
  }

  .swiper-slide img:hover {
    transform: scale(1.2);
  }

  .image-slider {
    margin-top: 20px;
    width: 100%;
  }

  .Mquery-content {
    margin-top: 28px;
  }
}



@media (max-width:950px) {
  .content .image-box {
    display: none;
  }

  .content form {
    width: 100%;
    margin-left: 30px;
  }

  .education-section .content-text .contentt .date {
    width: 28%;
  }

  .education-section .content-text .contentt .date:hover {
    width: 28%;
  }

  .education-section .content-text .contentt .large-date {
    width: 35%;
  }

  .education-section .content-text .contentt .large-date:hover {
    width: 35%;
  }

  footer .row .col .social-media {
    width: 176%;
  }

  footer .row .col form {
    width: 176px;
  }

  .home .nut1 {
    top: 24%;
    left: -95px;
    width: 30%;

  }

  .home .nut2 {
    bottom: 40%;
    right: 40px;
    width: 30%;
  }

}

@media (max-width:850px) {
  .swiper-slide {
    flex-wrap: wrap;
  }

  .swiper {
    width: 450px;
    height: auto;
  }

  .swiper-slide img {
      margin-left:10px;
      text-align: center;
      margin-top: -25px;
      width: 50%;
  }

  .swiper-slide img:hover {
    transform: scale(1.2);
  }

  .image-slider {
    margin-top: 20px;
    width: 100%;
  }

  .Mquery-content {
    margin-top: 28px;
  }
}

@media (max-width:847px) {
  .information .about-content h1 {
    font-size: 3.2rem;
  }
}

@media (max-width:684px) {
  .information .about-content h1 {
    font-size: 2.1rem;
  }

  .information .about-content p {
    text-align: center;
  }
}





@media (max-width:768px) {

  html {
    font-size: 55%;
  }

  header .fa-bars {
    display: block;
    font-size: 3rem;
    cursor: pointer;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    opacity: 0;
    transition: .2s linear;
    margin-top: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    /* margin-left:5px; */
    margin-right: 5px;

  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a {
    font-size: 2.5rem;
    display: block;
    background-color: rgb(245, 245, 245);
    padding: 5px 5px;
    margin: 0 30px;
    border-radius: 5px;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);

  }

  header .navbar ul li a:hover {
    background: linear-gradient(135deg, #667eea 0%, #802dd3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: .2s;

  }

  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }

  .home .banner {
    font-size: 4rem;
  }

  .home .slogan {
    font-size: 1.7rem;
  }

  .home .nut1 {
    top: 27%;
    left: -70px;
    width: 30%;
  }

  .home .nut2 {
    bottom: 40%;
    right: 70px;
    width: 30%;
    /* animation-direction:reverse; */
  }


}

@media (max-width:700px) {
  footer {
    bottom: unset;
  }

  footer .row .col {
    flex-basis: 100%;
  }

}

@media (max-width:608px) {


  .about .box-container {
    width: 100%;
  }

  .about .box-container .box .user .info h3 {
    margin-top: 5px;
    font-size: 2.5rem;
  }

  .about .box-container .box p {
    padding: 8px 8px;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 400;
    font-style: italic;
    cursor: text;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .about .box-container .box .user img {
    height: 10rem;
    width: 10rem;
    /* border-radius: 50%; */
    margin-right: 1rem;
    margin-top: 3px;
  }

  .education-section .content-text .contentt .date {
    width: 50%;
  }

  .education-section .content-text .contentt .date:hover {
    width: 50%;
  }

  .education-section .content-text .contentt .large-date {
    width: 58%;
  }

  .education-section .content-text .contentt .large-date:hover {
    width: 58%;
  }

  .education-section .content-text .contentt .large-date a {
    padding-left: 3px;

  }


  .swiper .swiper-wrapper .swiper-slide .develp {
    margin-top: 50px;
    font-size: 2.5rem;
  }


  .home .nut1 {
    top: 20%;
    left: 120px;
    width: 30%;

  }

  .home .nut2 {
    bottom: 20%;
    right: 200px;
    width: 30%;
  }

  .contact-form svg text {
    stroke: #452c61;
    stroke-width: 20;
    animation: textAnimate 6.5s infinite alternate;
    font-size: 90rem;
    margin-bottom: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }




}

@media (max-width:500px) {
  .home .nut1 {
    display: none;

  }

  .home .nut2 {
    display: none;
  }
}

@media (max-width:670px) {
  .home .nut1 {
    top: 14%;
    left: 160px;
    width: 30%;

  }

  .home .nut2 {
    bottom: 16%;
    right: 263px;
    width: 30%;
  }

  .swiper-slide {
    flex-wrap: wrap;
    
  }

  .swiper {
    width: 380px;
    height: auto;
  }

  .swiper-slide img {
      margin-left:10px;
      text-align: center;
      margin-top: -25px;
      width: 50%;
  }

  .swiper-slide img:hover {
    transform: scale(1.2);
  }

  .image-slider {
    margin-top: 20px;
    width: 100%;
  }

  .Mquery-content {
    margin-top: 28px;
  }

  
}